# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.env

# Logs
*.log

# Django
db.sqlite3

# OS
.DS_Store
Thumbs.db

# Temporary Results
results/temp/